@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --font-display: "Public Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #22C55E;
  --color-navy-custom: #0F172A;
}

body {
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
